<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <h2 class="text-dark mb-5"><b>DISCOVER ALL SUBJECTS FOR {{ subject.name | uppercase }}</b></h2>
                    <h3 class="text-dark-50 mx-auto mt-2 mb-5">Browse our platform for all subjects and find valuable
                        notes and resources for each one</h3>
            </div>
        </div>
    </section>
</header>

<section style="padding: 5%;">
    <h2 class="text-dark mb-4" style="padding-left: 13%; padding-bottom: 2%;"><b>(RESOURCE LIST)</b></h2>
    <div id="container">
        <ul>
            <li *ngFor="let document of documents">
                <div class="info">
                    <input *ngIf="authService.isLogged()" type="checkbox" (change)="onCheckboxChange($event, document.id)">
                    <div class="title"><a [routerLink]="['/degrees', document.id]">{{ document.name }}</a></div>
                    <div class="title"><p>- AI DESCRIPTION -</p></div>
                    <div class="container-square">
                        <div class="square"></div>
                    </div>
                </div>
                <div class="divider"></div>
                <br />
                <br />
            </li>
            <div class="action-buttons">
                <div class="col-auto"><button *ngIf="showLoadMoreButton()" class="btn btn-dark"
                        [class.display-div]="!moredocuments" (click)="getMoredocuments()">Load More</button></div>
                <div class="col-auto"><button *ngIf="authService.isLogged()" class="btn btn-dark"
                        (click)="getSelectedDocuments()">Get Documents</button></div>
            </div>
        </ul>
    </div>
</section>