<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <h2 class="text-dark mb-5"><b>ADMIN PANNEL</b></h2>
                    <h3 class="text-dark-50 mx-auto mt-2 mb-5">Keep Growing</h3>
            </div>
        </div>
    </section>
</header>

<section style="padding: 5%;">
    <h2 class="text-dark mb-4" style="padding-left: 13%; padding-bottom: 2%;"><b>(DEGREE LIST)</b></h2>
    <div id="container">
        <ul>
            <li *ngFor="let degree of degrees">
                <div class="info">
                    <button class="btn btn-dark" (click)="deleteDegree(degree.id)">Delete</button>
                    <div class="title"><a [routerLink]="['/admin/degrees', degree.id]">{{ degree.name }}&nbsp;&nbsp; - &nbsp;&nbsp;{{ degree.type }}</a></div>
                    <div class="container-square">
                        <div class="square"></div>
                    </div>
                </div>
                <div class="divider"></div>
                <br />
                <br />
            </li>
            <div class="action-buttons">
                <button *ngIf="showLoadMoreButton()" class="btn btn-dark" [class.display-div]="!moredegrees"
                    (click)="getMoredegrees()">Load More</button>
                <button class="btn btn-dark" [routerLink]="['/admin/add', 1, null]">Add new degree</button>
            </div>
        </ul>
    </div>
</section>