<main class="main-register">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="banner2">MANAGES ALL SUBJECTS FOR {{ degree.name | uppercase }}</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>
<div class="action-buttons" style="max-width: 65%; padding-left: 15%;">
    <a class="register-button"><span>Add new subject</span></a>
</div>
<div id="container">
    <ul>
        <li *ngFor="let subject of subjects">
            <div class="info">
                <div  class="delete"><a (click)="deleteSubject(subject.id)">Delete</a></div>
                <div class="title"><a [routerLink]="['/admin/degrees/' + degree.id + '/subjects', subject.id]">{{ subject.name }}</a></div>
                <div class="container">
                    <div class="square"></div>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <br />
        </li>
        <a *ngIf="showLoadMoreButton()" class="register-button" [class.display-div]="!moresubjects" (click)="getMoresubjects()"><span>Load
                more</span></a>
    </ul>

</div>