<main class="main-register">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="banner2">DISCOVER ALL SUBJECTS FOR {{ subject.name | uppercase }}</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>
<div class="action-buttons" style="max-width: 65%; padding-left: 15%;">
    <a class="register-button"><span>Add new document</span></a>
</div>
<div id="container">
    <ul>
        <li *ngFor="let document of documents">
            <div class="info">
                <div  class="delete"><a (click)="deleteDocument(document.id)">Delete</a></div>
                <div class="title"><a>{{ document.name }}</a></div>
                <div class="container">
                    <div class="square"></div>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <br />
        </li>
        <div class="button-container">
            <a *ngIf="showLoadMoreButton()" class="register-button" [class.display-div]="!moredocuments" (click)="getMoredocuments()"><span>Load
                more</span></a>
        </div>
        

    </ul>

</div>