<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <h2 class="text-dark mb-5"><b>DISCOVER ALL SUBJECTS FOR {{ subject.name | uppercase }}</b></h2>
                    <h3 class="text-dark-50 mx-auto mt-2 mb-5">Browse our platform for all subjects and find valuable
                        notes and resources for each one</h3>
            </div>
        </div>
    </section>
</header>

<section style="padding: 5%;">
    <h2 class="text-dark mb-4" style="padding-left: 13%; padding-bottom: 2%;"><b>(RESOURCE LIST)</b></h2>
    <div id="container">
        <ul>
            <li *ngFor="let document of documents">
                <div class="info">
                    <button class="btn btn-dark" (click)="deleteDocument(document.id)">Delete</button>
                    <div class="title">{{ document.name }}</div>
                    <button *ngIf="authService.isLogged()" (click)="fetchDocument(document.id)" class="btn btn-dark">Preview</button>
                </div>
                <div class="divider"></div>
                <br />
                <br />
            </li>
            <div class="action-buttons">
                <button *ngIf="showLoadMoreButton()" class="btn btn-dark" [class.display-div]="!moredocuments"
                    (click)="getMoredocuments()">Load More</button>
                <button class="btn btn-dark" (click)="openModalAddDocument()">Add new document</button>
            </div>
        </ul>
    </div>
</section>