<main class="main-register">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="banner2">DISCOVER ALL SUBJECTS FOR {{ degree.name | uppercase }}</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>
<div id="container">
    <ul>
        <!-- <li *ngFor="let subject of subjects">
            <div class="info">
                <div class="date">{{ subject.postedDate }}</div>
                <div class="title"><a>{{ subject.name }}</a></div>
                <div class="container">
                    <div class="square"></div>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <br />
        </li>
        <a *ngIf="showLoadMoreButton()" class="register-button" [class.display-div]="!moresubjects" (click)="getMoresubjects()"><span>Load
                more</span></a> -->
    </ul>

</div>