<header class="masthead">
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-8 col-lg-6 mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase" class="work-section">INVALID</h1>
                    <div class="form-signup">
                        <h2 class="text-white mb-5 centered-h2">UPS! Something went wrong</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>