<footer id="contact">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="footer-rounded-container">
        <div class="footer-table">
            <table>
                <tr>
                    <td>
                        <p>(LET'S CONNECT)</p>
                        <h3>javiisalaas97&#64;gmail.com</h3>
                        <br />
                        <br />
                    </td>
                    <td>
                        <p>(FOLLOW US)</p>
                        <h3><a>TWITTER</a></h3>
                        <h3><a>FACEBOOK</a></h3>
                        <h3><a>INSTAGRAM</a></h3>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footer-bottom">
            <div class="footer-snapstudy">SNAPSTUDY®</div>
            <p class="footer-copyright">© 2024 SnapStudy. Design based on Agentic by Cristian Mielu</p>
        </div>
    </div>
</footer>