<footer id="contact">
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center" style="color: white;">
                <div class="col-md-6 text-center">
                    <p>(LET'S CONNECT)</p>
                    <h4>javiisalaas97&#64;gmail.com</h4>
                </div>
                <div class="col-md-6 text-center">
                    <p>(FOLLOW US)</p>
                    <a class="mx-3" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-3" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-3" href="https://github.com/jrodriguezs2020" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="footer-snapstudy">SNAPSTUDY®</div>
            <div class="container px-4 px-lg-5 bg-black small text-end"
                style="color: white; padding-bottom: 5%;">Copyright &copy; SnapStudy 2024</div>
        </div>
    </section>
</footer>