<header>
    <div class="nav-container">
        <a [routerLink]="['/']" class="home-link">HOME</a>
        <div class="nav-buttons">
            <a *ngIf="!authService.isLogged()" [routerLink]="['/login']" class="login-button">Log in</a>
            <a *ngIf="!authService.isLogged()" [routerLink]="['/signup']" class="register-button"><span>Sign up</span></a>
            <a *ngIf="authService.isLogged()" (click)="logout()" class="login-button"><span>Log out</span></a>
            <a *ngIf="authService.isLogged()" [routerLink]="['/profile']" class="register-button"><span>My profile</span></a>
        </div>
    </div>
</header>