<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="action-buttons" style="padding-top: 0;">
                    <h2 class="text-dark mb-5"><b>MY PROFILE!</b></h2>
                    <div class="col-auto"><a class="btn btn-dark" (click)="logout()">Log out!</a></div>
                </div>
            </div>
        </div>
    </section>
</header>
<!-- About-->
<section class="projects-section bg-light">
    <section class="content">
        <div class="left-column2">
            <div class="profile-picture">
                <img src="/api/users/image" alt="Foto de Perfil" class="profile-img"
                    onerror="this.onerror=null; this.src='https://via.placeholder.com/350';">
            </div>
            <div class="col-auto"><button class="btn btn-dark" (click)="editImage()">EDIT IMAGE</button></div>
        </div>
        <div class="right-column">
            <div class="form-signupp">
                <div class="col">
                    <input [(ngModel)]="firstName" type="text" id="firstname" placeholder="First Name..."
                        class="form-control" />
                </div>
                <br />
                <div class="col w-75"><input [(ngModel)]="lastName" type="text" placeholder="Last Name..."
                        class="form-control" /></div>
                <br />
                <div class="col w-75"><input [(ngModel)]="email" type="email" placeholder="Email..."
                        class="form-control" disabled/></div>
                <br />
                <div class="col w-75"><input [(ngModel)]="password" type="password" placeholder="Password..."
                        class="form-control" /></div>
                <br />
                <div class="col w-75"><input [(ngModel)]="password2" type="password" placeholder="Confirm Password..."
                        class="form-control" /></div>
                <br />
                <div class="col-auto"><button class="btn btn-dark" (click)="editProfile()">Save
                        changes</button></div>
            </div>
        </div>
    </section>
</section>