<main class="main-register">
    <h1 class="login-banner">PROFILE</h1>
    <br />
    <br />
    <section class="content">
        <div class="left-column2">
            <div class="profile-picture">
                <img src="https://via.placeholder.com/350" alt="Foto de Perfil" class="profile-img">
            </div>
            <br />
            <br />
            <a class="register-button" style="width: 120px;"><span>Edit image</span></a>
            <br />
            <br />
        </div>
        <div class="right-column">
            <section class="login-section">
                <input type="text" id="fristname" placeholder="Firs Name">
                <input type="text" id="lastname" placeholder="Last Name">
                <input type="text" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <input type="password" id="password" placeholder="Confirm Password">
                <br />
                <br />
                <a class="register-button"><span>Save changes</span></a>
                <br />
                <br />
            </section>
        </div>
    </section>
</main>