<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="banner-container">
                    <div class="banner-item">
                        <img src="https://img.icons8.com/ios-filled/50/000000/rocket.png" alt="Ícono de cohete">
                        <h3>SINCE 2024</h3>
                        <p>By students, for students: founded to provide all students with access to the same resources
                        </p>
                    </div>
                    <div class="banner-item">
                        <img src="https://img.icons8.com/ios-filled/50/000000/documents.png" alt="Ícono de documentos">
                        <h3>RESOURCES</h3>
                        <p>The best summaries, notes, and resources are collected from students taking the same class as
                            you</p>
                    </div>
                    <div class="banner-item">
                        <img src="https://img.icons8.com/ios-filled/50/000000/conference-call.png"
                            alt="Ícono de usuarios">
                        <h3>USERS</h3>
                        <p>We aim to reach the largest number of users to support them in their studies</p>
                    </div>
                    <div class="banner-item">
                        <img src="https://img.icons8.com/ios-filled/50/000000/artificial-intelligence.png"
                            alt="Ícono de IA">
                        <h3>Study assistance with AI</h3>
                        <p>Know the purpose of each resource without having to download it through an AI-generated
                            summary</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8" style="padding: 8%;">
                <h2 class="text-white mb-4">(ABOUT US)</h2>
                <p class="text-white-50">
                    At SnapStudy, we provide access to a wide range of study materials for multiple subjects and
                    university degrees, adapting to the needs of students at every stage of their academic
                    journey.<br />
                    Our platform stands out by facilitating the download of documents in versatile formats, ensuring
                    greater flexibility and availability for students.
                    <br /><br />
                    What truly sets us apart is the use of artificial intelligence to generate detailed descriptions
                    of the documents, optimizing the search process. Our technology not only allows searches by file
                    name but also within the content of each document, ensuring that you find exactly what you need
                    quickly and efficiently.<br />
                    Additionally, by using cloud storage, we provide greater flexibility and availability of
                    resources, allowing access to them anytime, from any device.
                </p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5" style="width: 80% !important;">
        <h2 class="text-dark mb-5"><b>(SERVICES)</b></h2>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/aws.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Amazon Simple Storage Service</h4>
                            <p class="mb-0 text-white-50">AWS S3 as a storage solution to host and manage all the
                                resources available on SnapStudy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/drive.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Google Drive</h4>
                            <p class="mb-0 text-white-50">Google Drive as a storage option for the documents requested
                                by the user, with support for directly viewing the files.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/opensearch.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Amazon Open Search</h4>
                            <p class="mb-0 text-white-50">AWS OpenSearch as support for performing indexed searches,
                                optimizing fast and efficient access to information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/ia.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">OpenAI</h4>
                            <p class="mb-0 text-white-50">ChatGPT to efficiently and accurately generate a brief summary
                                of the content of each document available on SnapStudy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>