/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden; /* Elimina el scroll horizontal */
}

header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos del header con espacio entre ellos */
    padding: 15px 25px;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
}

.nav-container {
    display: flex;
    justify-content: space-between; /* Espacia los elementos entre sí */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

.nav-buttons {
    display: flex; /* Usar flexbox para alinear los botones */
    gap: 10px; /* Espacio entre los botones */
    flex-shrink: 0; /* Evita que los botones se reduzcan en tamaño */
    align-items: center;
}

.login-button {
    text-decoration: none; /* Eliminar subrayado */
    color: black; /* Color del texto */
    font-size: 1.25rem; /* Tamaño del texto */
    font-weight: normal; /* Peso del texto */
    transition: color 0.3s; /* Transición suave para el color */
}

.register-button {
    text-decoration: none; /* Eliminar subrayado */
    color: white; /* Color del texto */
    font-size: 1.25rem; /* Tamaño inicial del texto */
    font-weight: normal; /* Peso del texto */
    border: 2px solid; /* Borde del botón */
    padding: 5px 10px; /* Padding del botón */
    border-radius: 5px; /* Bordes redondeados */
    background-color: black; /* Fondo negro del botón */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
    display: inline-flex; /* Asegura que el botón se ajuste al contenido */
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: center; /* Alinea el contenido horizontalmente */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.register-button:hover {
    background-color: rgb(255, 60, 0); /* Fondo al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

.register-button:hover span {
    display: inline-block;
    transform: scale(1.35); /* Aumenta el tamaño del texto */
    transition: transform 0.3s; /* Transición suave para el tamaño del texto */
    font-weight: 500;
}

.login-button:hover {
    color: rgb(255, 60, 0); /* Cambia el color del texto al pasar el ratón */
}

.home-link {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    height: 100vh; /* Utiliza el 100% del alto del viewport */
    width: 100%;
    padding-top: 60px; /* Ajusta el padding-top para evitar que el contenido se oculte bajo el header fijo */
}

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    height: 100vh; /* Utiliza el 100% del alto del viewport */
    width: 100%;
    padding-top: 30px; /* Ajusta el padding-top para evitar que el contenido se oculte bajo el header fijo */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px; /* Reduce el padding para ajustar el contenido */
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: -10px; /* Reduce el espacio entre los elementos del menú */
    text-align: left; /* Alinea el texto a la izquierda */
    flex: 1;
    padding-left: 50px;
    padding-right: 15px;
}

.menu-item {
    font-size: 5rem; /* Ajusta el tamaño del texto para que sea adecuado */
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    line-height: 1; /* Asegura que la altura de línea sea igual al tamaño de la fuente */
    transition: color 0.25s ease-out, background-color 0.25s ease-out, font-size 0.25s ease-out; /* Transición suave */
    overflow: hidden; /* Asegura que el fondo no se salga del contenedor */
}

.menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 60, 0);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-out;
    z-index: -1; /* Envía el fondo detrás del texto */
}

.menu-item:hover::before {
    transform: scaleX(1); /* Llena el fondo de izquierda a derecha */
}

.menu-item:hover {
    color: white; /* Cambia el color del texto al blanco en hover */
    font-size: 6rem; /* Aumenta el tamaño del texto en hover */
}

.right-column {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.right-column h2 {
    font-size: 2rem;
    margin: 0;
}

.right-column p {
    font-size: 1rem;
    margin-top: 20px;
}

.work-section {
    display: flex;
    align-items: flex-end; /* Alinea el contenido al fondo de la sección */
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 0 20px; /* Ajusta el padding para evitar overflow */
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
}

.work-section h1 {
    font-size: 13vw; /* Ajusta el tamaño de la fuente basado en el ancho de la vista */
    font-weight: 900; /* Aumenta el grosor de la fuente */
    color: rgb(255, 60, 0);
    margin: 0;
    line-height: 1; /* Ajusta la altura de la línea para mantener el texto en una sola línea */
    text-align: center; /* Alinea el texto al centro */
}

.registered-symbol {
    font-size: 6vw; /* Ajusta el tamaño del símbolo registrado para mantener la proporción */
    vertical-align: top;
    color: rgb(255, 60, 0);
}

.footer {
    padding: 40px 20px; /* Ajusta el padding según sea necesario */
    background-color: white; /* Color de fondo general de la página */
    position: relative;
}

.footer-rounded-container {
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    color: white;
    margin-top: auto; /* Asegura que el footer-bottom se quede en la parte inferior del contenedor */
}

.footer-copyright {
    font-size: 0.8rem;
    color: grey;
    margin-top: 0px; /* Reduce el espacio entre el copyright y Snapstudy */
    width: 100%; /* Asegura que se alinee a la derecha en el contenedor completo */
    text-align: right; /* Alinea el texto a la derecha */
}

.footer-snapstudy {
    font-size: 11rem; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold;
    color: rgb(255, 60, 0);
    width: 100%; /* Ocupa toda la parte inferior */
    text-align: center; /* Centra el texto */
    margin-bottom: 0; /* Reduce el espacio entre el copyright y Snapstudy */
}

.footer-table {
    margin-bottom: 20px; /* Espaciado inferior para separar la tabla del resto del contenido */
    text-align: center; /* Centrar la tabla dentro del contenedor */
}

.footer-table table {
    width: 80%; /* La tabla ocupará el 50% del ancho del contenedor */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

.footer-table td {
    padding: 8px; /* Espaciado dentro de las celdas */
    color: #ffffff;
    text-align: left;
}

@media (min-width: 768px) {
    .footer-table {
        /* Ajustes para pantallas grandes si es necesario */
    }
}

.hola {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 150px;
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: #fff;
}

.hola2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 600px;
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: #fff;
}

.about-section {
    display: grid;
    grid-template-columns: auto 5fr;
    align-items: start;
    max-width: 1200px;
    gap: 200px;
    padding-bottom: 150px;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.diamond {
    width: 30px;
    height: 30px;
    background-color: #FF4500;
    transform: rotate(45deg);
    margin-bottom: 10px;
}

.text-content {
    text-align: left;
}

.text-content h1 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin-top: 0;
}
.text-content p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 300;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    padding-bottom: 30px;
}

.login-section input {
    width: 150%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.login-banner {
    padding-top: 0px;
    font-size: 5rem;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    padding-bottom: 15px;
}

.register-section input {
    width: 150%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    height: 50px;
}

.register-section input:first-child {
    margin-top: -30px; /* Reduce el margen superior del primer input */
}

.main-register {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    height: 100vh; /* Utiliza el 100% del alto del viewport */
    width: 100%;
    padding-top: 25px; /* Ajusta el padding-top para evitar que el contenido se oculte bajo el header fijo */
}

.background-section {
    /*background-image: url('D://DESCARGAS//imagenprueba.png'); /* Reemplaza con la ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    border: 5px solid black; /* Bordes redondeados del contenedor */
    border-radius: 15px;
    padding: 50px; /* Espaciado interno para que el texto no toque los bordes */
    color: black; /* Color del texto para que contraste con la imagen */
    max-width: 80%; /* Ajusta el ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
    text-align: left; /* Centra el texto */
}

.square {
    width: 100%;
    height: 100%;
    background-color: #FF4500;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateSquare 15s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}

/* Animación para el cuadrado */
@keyframes rotateSquare {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.number {
    color: white;
    font-size: 10rem;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el número en el cuadrado */
}

.container {
    position: relative;
    width: 120px;
    height: 120px;
}