<main class="main-register">
    <h1 class="login-banner">CREATE YOUR ACCOUNT</h1>
    <section class="register-section">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <div>
            <button type="submit" class="register-button" style="width: 110%;"><span>Create account</span></button>
        </div>
    </section>
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>