<main class="main-register">
    <h1 class="login-banner">CREATE YOUR ACCOUNT</h1>
    <section class="register-section">
        <input [(ngModel)]="firstName" type="text" placeholder="First Name">
        <input [(ngModel)]="lastName" type="text" placeholder="Last Name">
        <input [(ngModel)]="email" type="email" placeholder="Email">
        <input [(ngModel)]="password" type="password" placeholder="Password">
        <input [(ngModel)]="password2" type="password" placeholder="Confirm Password">
        <div>
            <button (click)="createUser()" type="submit" class="register-button" style="width: 110%;"><span>Create account</span></button>
        </div>
    </section>
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>