<header class="masthead">
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-8 col-lg-6 mx-auto text-center">
                    <h2 class="text-white mb-5 centered-h2">CREATE A NEW ACCOUNT!</h2>
                    <div class="form-signup">
                        <div class="col"><input [(ngModel)]="firstName" type="text" placeholder="First Name..."
                                class="form-control" /></div>
                        <br />
                        <div class="col"><input [(ngModel)]="lastName" type="text" placeholder="Last Name..."
                                class="form-control" /></div>
                        <br />
                        <div class="col"><input [(ngModel)]="email" type="email" placeholder="Email..."
                                class="form-control" /></div>
                        <br />
                        <div class="col"><input [(ngModel)]="password" type="password" placeholder="Password..."
                                class="form-control" /></div>
                        <br />
                        <div class="col"><input [(ngModel)]="password2" type="password"
                                placeholder="Confirm Password..." class="form-control" /></div>
                        <br />
                        <div class="row">
                            <div class="col-auto"><button class="btn btn-primary" (click)="createUser()">Create
                                    account!</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="footer"></section>