<main>
    <section class="content">
        <div class="left-column">
            <a href="#work-section" class="menu-item">EXPLORE</a>
            <a href="#about" class="menu-item">ABOUT</a>
            <a href="#services" class="menu-item">SERVICES</a>
            <a href="#contact" class="menu-item">CONTACT</a>
        </div>
        <div class="right-column">
            <section class="background-section">
                    <h2 style="font-size: 3rem; color: rgb(255 60 0);">Boost your studies!</h2>
                    <p style="font-size: 1.5rem;">Explore our complete collection of notes and get free access to all our study materials.</p>
            </section>
        </div>
    </section>
    <section id="work-section" class="work-section">
        <h1>SNAPSTUDY<span class="registered-symbol">®</span></h1>
    </section>
</main>

<section id="about" class="hola">
    <div class="about-section">
        <div class="left-column">
            <h1>(ABOUT US)</h1>
            <br />
            <br />
            <br />
            <div class="container">
                <div class="square"></div>
            </div>
        </div>
        <div class="text-content">
            <br />
            <br />
            <p><b>At Agentic, we are a team of dedicated creatives driven by the desire to redefine online experiences. Our journey began with a shared commitment to excellence in web design, development, UI/UX, and product design.</b></p>
        </div>
    </div>
</section>

<section id="services" class="hola">
    <div class="about-section">
        <div class="left-column">
            <h1>(SERVICES)</h1>
            <br />
            <br />
            <br />
            <div class="container">
                <div class="square"></div>
                <div class="number">1</div>
            </div>
        </div>
        <div class="text-content">
            <br />
            <br />
            <p><b>At Agentic, we are a team of dedicated creatives driven by the desire to redefine online experiences. Our journey began with a shared commitment to excellence in web design, development, UI/UX, and product design.</b></p>
        </div>
    </div>
</section>