<header>
    <section class="head-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <h2 class="text-dark mx-auto mt-2 mb-5">Search results for "<b>{{ searchText }}</b>"</h2>
            </div>
        </div>
    </section>
</header>

<section *ngIf="isLoading" style="padding: 5%; text-align: center;">
    <div class="spinner-border text-dark" role="status">
    </div>
</section>

<section *ngIf="results.length > 0" style="padding: 5%;">
    <div id="container">
        <ul>
            <h4 class="text-dark mb-4" style="padding-bottom: 2%;"><b>(RESOURCES)</b></h4>
            <li *ngFor="let result of results">
                <div class="info">
                    <input *ngIf="authService.isLogged()" type="checkbox"
                        (change)="onCheckboxChange($event, result.index)">
                    <div class="title"><a>{{ result.title }}</a></div>
                    <div class="container-square">
                        <div class="square"></div>
                    </div>
                </div>
                <div class="divider"></div>
                <br />
                <br />
            </li>
            <div class="action-buttons">
                <div class="col-auto"><button *ngIf="authService.isLogged()" class="btn btn-dark"
                    (click)="downloadSelected()">Get Documents</button></div>
            </div>
        </ul>
    </div>
</section>

<section *ngIf="!isLoading && results.length == 0" style="padding: 5%;">
    <h2 class="text-dark mb-4" style="padding-left: 13%; padding-bottom: 2%;"><b>(SEARCH RESULT)</b></h2>
    <div id="container">
        <ul>
            <h4 class="text-dark mb-4" style="padding-top: 5%; padding-bottom: 2%;">
                <b>UPS! Couldn't find anything for "{{ searchText }}"</b>
            </h4>
        </ul>
    </div>
</section>